<!-- Title -->
<div class="title-box">
  <h1 class="title">Controls</h1>
</div>
<div class="content-box">
  <div class="col-md-4">
    <div class="content-box-item">
      <h4 class="subtitle">Hotkeys</h4>
      <li><b>ALT + 1:</b> Reveal answer 1</li>
      <li><b>ALT + 2:</b> Reveal answer 2</li>
      <li><b>ALT + 3:</b> Reveal answer 3</li>
      <li><b>ALT + 4:</b> Reveal answer 4</li>
      <li><b>ALT + 5:</b> Reveal answer 5</li>
      <li><b>ALT + 6:</b> Reveal answer 6</li>
      <li><b>ALT + 7:</b> Reveal answer 7</li>
      <li><b>ALT + 8:</b> Reveal answer 8</li>
      <li><b>ALT + X:</b> Incorrect Face-off</li>
      <li><b>ALT + N:</b> Give Strike</li>
      <li><b>ALT + .:</b> Go to next question</li>
    </div>
  </div>
  <div class="col-md-6 sound-board">
    <div class="content-box-item">
      <h4 class="subtitle">Sound Buttons</h4>
      <button class="tech-button" (click)="playTheme()">Play Theme</button>
      <button class="tech-button" (click)="playFunny()">Play Funny</button>
      <button accesskey="x" class="tech-button" (click)="playBahBow()">
        Play Bah Bow
      </button>
      <button class="tech-button" (click)="playGoodAnswer()">
        Play Good answer
      </button>
      <button accesskey="n" class="tech-button" (click)="playStrike()">
        Play Strike
      </button>
      <button class="tech-button" (click)="playBadum()">Play Badum</button>
      <button class="tech-button" (click)="playApplause()">
        Play Applause
      </button>
      <button class="tech-button" (click)="playLaughtrack()">
        Play Laughtrack
      </button>
      <button class="tech-button" (click)="playCricket()">Play Cricket</button>
      <button class="tech-button" (click)="playTrombone()">
        Play Trombone
      </button>
      <button class="tech-button" (click)="playGoofy()">Play Goofy</button>
      <button class="tech-button" (click)="playOoh()">Play Ooh</button>
    </div>
  </div>
</div>
