<button
  class="btn btn-primary"
  style="position: absolute; top: 30px; left: 50px"
  routerLink="/info"
>
  <i class="fa fa-info-circle"></i> How to play
</button>
<button
  class="btn btn-primary"
  style="position: absolute; top: 75px; left: 50px"
  routerLink="/home"
>
  <i class="fa fa-home"></i> Home
</button>

<!-- Title -->
<div
  style="
    background-color: rgba(79, 234, 255, 0.5);
    border-radius: 50px;
    padding: 30px;
    margin-top: 30px;
    left: 20%;
    right: 20%;
    position: absolute;
  "
>
  <div style="color: rgb(20, 20, 20); text-align: center">
    <h1
      style="
        font-size: 5rem;

        background: -webkit-linear-gradient(
          rgb(252, 122, 35) 30%,
          rgb(255, 221, 29),
          rgb(255, 228, 78)
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        filter: drop-shadow(3px 3px 3px #333);
      "
    >
      NBZ Family Feud
    </h1>
    <h2>Controls</h2>
  </div>
</div>
<div class="row justify-content-center">
  <div
    class="col-md-6"
    style="
      background-color: rgba(204, 248, 255, 0.836);
      border-radius: 50px;
      padding: 30px;
      margin-top: 20%;
    "
  >
    <h1 style="text-decoration: underline; text-align: center">Hotkeys</h1>
    <br />
    <table class="table">
      <th style="font-weight: normal">
        <p><b>ALT + 1:</b> reveal/hide answer 1</p>
        <p><b>ALT + 2:</b> reveal/hide answer 2</p>
        <p><b>ALT + 3:</b> reveal/hide answer 3</p>
        <p><b>ALT + 4:</b> reveal/hide answer 4</p>
        <p><b>ALT + 5:</b> reveal/hide answer 5</p>
        <p><b>ALT + 6:</b> reveal/hide answer 6</p>
        <p><b>ALT + 7:</b> reveal/hide answer 7</p>
      </th>
      <th style="font-weight: normal">
        <p><b>ALT + 8:</b> reveal/hide answer 8</p>
        <p><b>ALT + 9:</b> gives active team a strike</p>
        <p><b>ALT + 0:</b> switches active team</p>
        <p><b>ALT + n:</b> go to next question</p>
        <p><b>ALT + p:</b> disable points for answers</p>
        <p><b>ALT + l:</b> short sound bite from theme</p>
        <p><b>ALT + k:</b> face-off strike sound</p>
      </th>
    </table>
  </div>
</div>
