<!-- Info page nav-buttons -->
<div class="nav-button-box">
  <button class="nav-button" routerLink="/home">
    <i class="fa fa-home"></i> Home
  </button>
  <br />
  <button class="nav-button" routerLink="/info">
    <i class="fa fa-info-circle"></i> How to play
  </button>
  <br />
  <button class="nav-button" routerLink="/info/controls" disabled>
    <i class="fa fa-gamepad"></i> Controls
  </button>
  <br />
  <button class="nav-button" routerLink="/admin">
    <i class="fa fa-book"></i> Admin
  </button>
</div>

<!-- Title -->
<div class="title-box">
  <h1 class="title">Controls</h1>
</div>
<div class="content-box">
  <div class="col-md-4">
    <div class="content-box-item">
      <h4 class="align-center-bold">Hotkeys</h4>
      <li><b>ALT + 2:</b> Reveal answer 2</li>
      <li><b>ALT + 3:</b> Reveal answer 3</li>
      <li><b>ALT + 1:</b> Reveal answer 1</li>
      <li><b>ALT + 4:</b> Reveal answer 4</li>
      <li><b>ALT + 5:</b> Reveal answer 5</li>
      <li><b>ALT + 6:</b> Reveal answer 6</li>
      <li><b>ALT + 7:</b> Reveal answer 7</li>
      <li><b>ALT + 8:</b> Reveal answer 8</li>
      <li><b>ALT + B:</b> Give Strike</li>
      <li><b>ALT + N:</b> Go to previous question</li>
      <li><b>ALT + M:</b> Go to next question</li>
      <li><b>ALT + H:</b> Left team won the face-off</li>
      <li><b>ALT + J:</b> Right team won the face-off</li>
    </div>
  </div>
  <div class="col-md-6 sound-board">
    <div class="content-box-item">
      <h4 class="align-center-bold">Sound Buttons</h4>
      <button class="tech-button" (click)="playTheme()">Play theme</button>
      <button class="tech-button" (click)="playFunny()">Play Funny</button>
      <button class="tech-button" (click)="playBahBow()">Play Bah Bow</button>
      <button class="tech-button" (click)="playGoodAnswer()">
        Play Good answer
      </button>
      <button class="tech-button" (click)="playStrike()">Play Strike</button>
      <button class="tech-button" (click)="playBadum()">Play Badum</button>
      <button class="tech-button" (click)="playApplause()">
        Play Applause
      </button>
      <button class="tech-button" (click)="playLaughtrack()">
        Play Laughtrack
      </button>
      <button class="tech-button" (click)="playCricket()">Play Cricket</button>
      <button class="tech-button" (click)="playTrombone()">
        Play Trombone
      </button>
      <button class="tech-button" (click)="playGoofy()">Play Goofy</button>
    </div>
  </div>
</div>
