<div class="hff-page">
  <!-- Home page title -->
  <div class="title-box">
    <p class="title">
      <i class="fa-solid fa-trophy"></i> {{ title }}
      <i class="fa-solid fa-trophy"></i>
    </p>
  </div>

  <div class="content-box">
    <div class="col-md-12">
      <div class="content-box-item">
        <table class="table">
          <thead>
            <tr>
              <th class="one">#</th>
              <th class="two">Player</th>
              <th class="three">Achievements</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let player of players; let i = index">
              <td>{{ i + 1 }}</td>
              <td id="hff-player-{{i}}">{{ player.playerName }}</td>
              <td>{{ player.achievements }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
