<!-- Admin nav-buttons -->
<div class="nav-button-box">
  <button class="nav-button" routerLink="/home">
    <i class="fa fa-home"></i> Home
  </button>
  <br />
  <button class="nav-button" routerLink="/info">
    <i class="fa fa-info-circle"></i> How to play
  </button>
  <br />
  <button class="nav-button" routerLink="/info/controls">
    <i class="fa fa-gamepad"></i> Controls
  </button>
  <br />
  <button class="nav-button" routerLink="/admin" disabled>
    <i class="fa fa-book"></i> Admin
  </button>
</div>

<!-- Admin page title -->
<div class="title-box">
  <h1 class="title">Admin Panel</h1>
</div>

<!-- Admin page content -->
<div class="content-box">
  <div class="col-md-4">
    <div class="content-box-item">
      <h4 class="align-center-bold">Add a Question</h4>
      <form
        #questionaddform="ngForm"
        (ngSubmit)="questionaddform.form.valid && addQuestion()"
      >
        <div class="form-group">
          <label for="questionname">Question Title</label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="question.questionTitle"
            #questionname="ngModel"
            name="questionname"
            placeholder="Enter question name"
            [ngClass]="{
              'is-invalid': questionaddform.submitted && questionname.invalid
            }"
            required
            minlength="10"
          />
          <div
            *ngIf="questionname.errors && questionname.touched"
            class="alert alert-danger"
          >
            <div *ngIf="questionname.errors?.['required']">
              Question title is required
            </div>
            <div *ngIf="questionname.errors?.['minlength']">
              Question title must be at least 10 characters long
            </div>
          </div>
        </div>
        <div class="question-form">
          <div class="form-group" style="width: 73%; margin-right: 2%">
            <label>Question Answers</label><br />

            <label for="answer1">Answer 1</label>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="question.answer1"
              #questionanswer1="ngModel"
              name="questionanswer1"
              placeholder="Enter answer 1"
              [ngClass]="{
                'is-invalid':
                  questionaddform.submitted && questionanswer1.invalid
              }"
              required
              minlength="2"
            />
            <div
              *ngIf="questionanswer1.errors && questionanswer1.touched"
              class="alert alert-danger"
            >
              <div *ngIf="questionanswer1.errors?.['required']">
                Question answer 1 is required
              </div>
              <div *ngIf="questionanswer1.errors?.['minlength']">
                Question answer 1 must be at least 2 characters long
              </div>
            </div>
            <label for="answer2">Answer 2</label>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="question.answer2"
              #questionanswer2="ngModel"
              name="questionanswer2"
              placeholder="Enter answer 2"
              [ngClass]="{
                'is-invalid':
                  questionaddform.submitted && questionanswer2.invalid
              }"
              required
              minlength="2"
            />
            <div
              *ngIf="questionanswer2.errors && questionanswer2.touched"
              class="alert alert-danger"
            >
              <div *ngIf="questionanswer2.errors?.['required']">
                Question answer 2 is required
              </div>
              <div *ngIf="questionanswer2.errors?.['minlength']">
                Question answer 2 must be at least 2 characters long
              </div>
            </div>
            <label for="answer3">Answer 3</label>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="question.answer3"
              #questionanswer3="ngModel"
              name="questionanswer3"
              placeholder="Enter answer 3"
              [ngClass]="{
                'is-invalid':
                  questionaddform.submitted && questionanswer3.invalid
              }"
              required
              minlength="2"
            />
            <div
              *ngIf="questionanswer3.errors && questionanswer3.touched"
              class="alert alert-danger"
            >
              <div *ngIf="questionanswer3.errors?.['required']">
                Question answer 3 is required
              </div>
              <div *ngIf="questionanswer3.errors?.['minlength']">
                Question answer 3 must be at least 2 characters long
              </div>
            </div>
            <label for="answer4">Answer 4</label>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="question.answer4"
              #questionanswer4="ngModel"
              name="questionanswer4"
              placeholder="Enter answer 4"
            />
            <label for="answer5">Answer 5</label>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="question.answer5"
              #questionanswer5="ngModel"
              name="questionanswer5"
              placeholder="Enter answer 5"
            />
            <label for="answer6">Answer 6</label>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="question.answer6"
              #questionanswer6="ngModel"
              name="questionanswer6"
              placeholder="Enter answer 6"
            />
            <label for="answer7">Answer 7</label>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="question.answer7"
              #questionanswer7="ngModel"
              name="questionanswer7"
              placeholder="Enter answer 7"
            />
            <label for="answer8">Answer 8</label>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="question.answer8"
              #questionanswer8="ngModel"
              name="questionanswer8"
              placeholder="Enter answer 8"
            />
          </div>
          <div class="form-group" style="width: 25%">
            <label>Points</label><br />
            <label for="points1">Points 1</label>
            <input
              type="number"
              class="form-control"
              [(ngModel)]="question.points1"
              #questionpoints1="ngModel"
              name="questionpoints1"
              placeholder="Enter points for answer 1"
              [ngClass]="{
                'is-invalid':
                  questionaddform.submitted && questionpoints1.invalid
              }"
              required
              min="1"
              max="100"
            />
            <div
              *ngIf="questionpoints1.errors && questionpoints1.touched"
              class="alert alert-danger"
            >
              <div *ngIf="questionpoints1.errors?.['required']">
                Question points for answer 1 is required
              </div>
              <div *ngIf="questionpoints1.errors?.['min']">
                Question points for answer 1 must be at least 1
              </div>
              <div *ngIf="questionpoints1.errors?.['max']">
                Question points for answer 1 must be at most 100
              </div>
            </div>
            <label for="points2">Points 2</label>
            <input
              type="number"
              class="form-control"
              [(ngModel)]="question.points2"
              #questionpoints2="ngModel"
              name="questionpoints2"
              placeholder="Enter points for answer 2"
              [ngClass]="{
                'is-invalid':
                  questionaddform.submitted && questionpoints2.invalid
              }"
              required
              min="1"
              max="100"
            />
            <div
              *ngIf="questionpoints2.errors && questionpoints2.touched"
              class="alert alert-danger"
            >
              <div *ngIf="questionpoints2.errors?.['required']">
                Question points for answer 2 is required
              </div>
              <div *ngIf="questionpoints2.errors?.['min']">
                Question points for answer 2 must be at least 1
              </div>
              <div *ngIf="questionpoints2.errors?.['max']">
                Question points for answer 2 must be at most 100
              </div>
            </div>
            <label for="points3">Points 3</label>
            <input
              type="number"
              class="form-control"
              [(ngModel)]="question.points3"
              #questionpoints3="ngModel"
              name="questionpoints3"
              placeholder="Enter points for answer 3"
              [ngClass]="{
                'is-invalid':
                  questionaddform.submitted && questionpoints3.invalid
              }"
              required
              min="1"
              max="100"
            />
            <div
              *ngIf="questionpoints3.errors && questionpoints3.touched"
              class="alert alert-danger"
            >
              <div *ngIf="questionpoints3.errors?.['required']">
                Question points for answer 3 is required
              </div>
              <div *ngIf="questionpoints3.errors?.['min']">
                Question points for answer 3 must be at least 1
              </div>
              <div *ngIf="questionpoints3.errors?.['max']">
                Question points for answer 3 must be at most 100
              </div>
            </div>
            <label for="points4">Points 4</label>
            <input
              type="number"
              class="form-control"
              [(ngModel)]="question.points4"
              #questionpoints4="ngModel"
              name="questionpoints4"
              placeholder="Enter points for answer 4"
            />
            <label for="points5">Points 5</label>
            <input
              type="number"
              class="form-control"
              [(ngModel)]="question.points5"
              #questionpoints5="ngModel"
              name="questionpoints5"
              placeholder="Enter points for answer 5"
            />
            <label for="points6">Points 6</label>
            <input
              type="number"
              class="form-control"
              [(ngModel)]="question.points6"
              #questionpoints6="ngModel"
              name="questionpoints6"
              placeholder="Enter points for answer 6"
            />
            <label for="points7">Points 7</label>
            <input
              type="number"
              class="form-control"
              [(ngModel)]="question.points7"
              #questionpoints7="ngModel"
              name="questionpoints7"
              placeholder="Enter points for answer 7"
            />
            <label for="points8">Points 8</label>
            <input
              type="number"
              class="form-control"
              [(ngModel)]="question.points8"
              #questionpoints8="ngModel"
              name="questionpoints8"
              placeholder="Enter points for answer 8"
            />
          </div>
        </div>
      </form>
      <button
        type="submit"
        class="action-button"
        (click)="addQuestion()"
        [disabled]="!questionaddform.valid"
      >
        <i class="fa fa-save"></i>
        Create
      </button>
    </div>
  </div>

  <div class="col-md-8">
    <div class="content-box-item">
      <h4 class="align-center-bold">Questions</h4>
      <a id="toggle" class="reveal-question-list" (click)="toggleList()"
        >[Show]</a
      >
      <div
        id="question-list"
        class="content-box-content"
        style="max-height: 600px"
      >
        <tr class="home-player-team-row" *ngFor="let question of questions">
          <p class="question-link">
            {{ question.id }}) {{ question.questionTitle }} ({{
              question.totalPoints
            }})</p
          >

          <button class="home-delete-btn" (click)="delQuestion(question.id!)">
            <i class="fa fa-trash"></i>
          </button>
        </tr>
      </div>
    </div>
  </div>
</div>
