<!-- Title -->
<div class="title-box">
  <h1 class="title">How to play</h1>
</div>

<!-- Rules and 'Good-to-knows' -->
<div class="content-box">
  <div class="col-md-3">
    <img src="../../assets/images/rules-book.png" class="info-rules-img" />
  </div>
  <div class="col-md-6 rules">
    <div class="content-box-item">
      <h3 class="align-center-bold">Rules & Good-to-Knows</h3>
      <div class="col-md-6">
        <label>Rules</label>
        <div class="content-box-content">
          <ul>
            <li>
              Consulting with the team is not allowed, unless told otherwise
            </li>
            <li>No team is allowed to use any external sources for the game</li>
            <li>
              An answer must be given within a reasonable time (aprox. 10s)
            </li>
            <li>
              The tech-team has the final verdict on whether a question was
              answered correctly or not
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-6">
        <!-- This needs updating every episode of family feud -->
        <label> Good-to-Knows </label>
        <div class="content-box-content">
          <ul>
            <li>[Ep. 3]</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="content-box-item">
      <h3 class="align-center-bold">Demo</h3>
      <p>You can test/showcase how the quiz portion of this game works.</p>
      <div class="content-box-content">
        <ul>
          <li>1. Reveal the question title.</li>
          <li>2. Select the team that won the face-off.</li>
          <li>3. Reveal the answer.</li>
          <li>4. Next question.</li>
        </ul>
      </div>
      <button
        class="action-button"
        (click)="goToDemo()"
        style="margin-top: 5px"
      >
        Demo <i class="fa fa-play"></i>
      </button>
    </div>
  </div>
</div>

<!-- How the game mechanics work -->
<div class="content-box">
  <div class="col-md-3">
    <div class="content-box-item">
      <h4 class="align-center-bold">How to play</h4>
      <p>
        The game is played in two teams that face off against each other. At the
        start of the game the team-leader is the first one to get the
        opportunity to answer a question.
      </p>
      <p>
        After that the turn gets passed to the one next to the team-leader and
        so on. Until everyone has answered a question, then the turn goes back
        to the team-leader.
      </p>
      <h4 class="align-center-bold">Face-off</h4>
      <p>
        It starts with a 'face-off' question. This question decides who gets to
        choose which team starts the game.
      </p>
      <p>
        The first team to answer the question correctly wins the face-off and
        gets to choose to either play the question or pass it to the opposite
        team.
      </p>
    </div>
  </div>

  <div class="col-md-3">
    <div class="content-box-item">
      <h4 class="align-center-bold">Passing a question</h4>
      <p>
        If the team chooses to pass the question, the other team gets to go
        first in an attempt to clear the board.
      </p>
      <br />
      <h4 class="align-center-bold">Playing a question</h4>
      <p>
        If the team chooses to play the question, it's their goal to clear the
        board of all the answers.<br />
      </p>

      <div class="info-strike">
        <p>
          Giving an incorrect answer, or failing to respond in time, will result
          in a
          <b>STRIKE</b>.<br />
        </p>
        <img
          src="../../../../assets/images/strike.png"
          class="info-strike-img"
          alt="Strike"
        />
      </div>

      <p>
        If the team gets three(3) <b>STRIKE</b>s before clearing the board, the
        opposite team will now get the chance to steal the question.
      </p>
    </div>
  </div>

  <div class="col-md-3">
    <div class="content-box-item">
      <h4 class="align-center-bold">Stealing a question</h4>
      <p>The team can now discuss with each other for 30 seconds.</p>
      <p>
        Once they all agree to an answer the Team leader gives the answer to the
        host.
      </p>
      <p>
        If the answer given is on the board their team will steal <b>ALL</b> the
        points earned by the opposite team in this round.
      </p>
      <p>
        If an incorrect answer is given, the team that was originally in control
        of the question keeps their points.
      </p>
    </div>
  </div>

  <div class="col-md-3">
    <div class="content-box-item">
      <h4 class="align-center-bold">Points</h4>
      <p>
        Points are based on the amount of people who gave the same reponse to
        the survey.
      </p>
      <p>
        <b>[EXAMPLE]:</b><br />
        Name a red fruit...<br />
        46 people responded with 'Apple', that answer will be worth 46 points.
      </p>
    </div>
  </div>
</div>
