<button
  class="btn btn-primary"
  style="position: absolute; top: 30px; left: 50px"
  routerLink=".."
>
  <i class="fa fa-arrow-left"></i> Back
</button>

<!-- Title -->
<div
  style="
    background-color: rgba(79, 234, 255, 0.5);
    border-radius: 50px;
    padding: 30px;
    margin-top: 30px;
    left: 20%;
    right: 20%;
    position: absolute;
  "
>
  <div style="color: rgb(20, 20, 20); text-align: center">
    <h1
      style="
        font-size: 5rem;

        background: -webkit-linear-gradient(
          rgb(252, 122, 35) 30%,
          rgb(255, 221, 29),
          rgb(255, 228, 78)
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        filter: drop-shadow(3px 3px 3px #333);
      "
    >
      NBZ Family Feud
    </h1>
    <h2>Rules & Instructions</h2>
  </div>
</div>
<div class="row justify-content-center">
  <div
    class="col-md-5"
    style="
      background-color: rgba(204, 248, 255, 0.836);
      border-radius: 50px;
      padding: 30px;
      margin-top: 20%;
    "
  >
    <h1 style="text-align: center; text-decoration: underline">
      Question Rounds
    </h1>
    <label>How it works</label>
    <p>
      At the start of each round a face off question gets asked. One player of
      both teams (usually the team leader), will face off against each other.
      The host will ask a question and if the player thinks they know an answer
      they press their buzzer/bell as fast as they can. The first player to
      press their buzzer/bell first, gets to answer first. The player with the
      highest score answer on the board, gets to choose if their team will play
      or pass this question.
    </p>
    <div class="row">
      <div class="col-md-10">
        <label>Playing a question</label>
        <p>
          The goal of choosing to play a question, is to clear the board with
          each member giving one answer in sequence. Giving an incorrect answer,
          or failing to respond, earns a <b>STRIKE</b>. If the team gets
          three(3) <b>STRIKE</b>s before clearing the board, the opposite team
          now gets the chance to steal the question.
        </p>
      </div>
      <div style="margin-top: 15px">
        <div class="card" style="text-align: center; border-radius: 10px">
          <img
            src="../../../../assets/images/strike.png"
            style="height: 70px; width: 70px"
          />
          <b>STRIKE</b>
        </div>
      </div>
    </div>
    <label>Stealing a question</label>
    <p>
      The team can now discuss with each other, once they all agree to an answer
      the Team leader gives the answer to the host. If the answer given is on
      the board their team will steal ALL the points earned by the opposite team
      in this round. If an incorrect answer is given, the team that was
      originally in control of the question keeps their points.
    </p>
    <label>Passing a question</label>
    <p>
      If the team chooses to pass the question, the other team gets to go first
      in an attempt to clear the board.
    </p>
  </div>
  <div class="col-md-1"></div>
  <div
    class="col-md-5"
    style="
      background-color: rgba(204, 248, 255, 0.836);
      border-radius: 50px;
      padding: 30px;
      margin-top: 20%;
    "
  >
    <h1 style="text-align: center; text-decoration: underline">Bonus Rounds</h1>
    <label>How it works</label>
    <p>
      The team leader of the winning team, will go first in answering five
      questions within 25 seconds.<br /><br />
      The team leader of the losing team does not get to hear the given answers
      as they are going to try to answer the same questions next. However they
      will get 30 seconds to answer the same five questions, duplicate answers
      are not allowed.<br /><br />
      After both team leaders have given their answers they will be revealed to
      everyone and both teams will receive the points accordingly.
    </p>
    <hr
      style="
        background-color: rgba(0, 0, 0, 0.397);
        height: 2px;
        margin-top: 20px;
      "
    />
    <h1 style="text-align: center; text-decoration: underline">Points</h1>
    <label>How do they work</label>
    <p>
      Points are based on the amount of people who gave the same reponse to the
      survey. <br /><br />
      [EXAMPLE]: 'Name a red fruit'.<br />
      64/100 people responded with 'Apple', the team that guesses 'Apple' will
      receive 64 points.<br /><br />
      <b>Round Multipliers</b><br />
      Round 1: 1x<br />
      Round 2: 2x<br />
      Round 3: 3x<br />
    </p>
  </div>
</div>
