body {
  background-image: url("../src/assets/images/ep4.png");
  /* background-size: cover; */
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: white;
  background-repeat-y: no-repeat;
  background-color: black;
}
/* Texts */
/* ============================================================================= */
.title {
  font-size: 38px;
  background: -webkit-linear-gradient(
    rgb(255, 0, 0),
    rgb(255, 216, 159),
    rgb(255, 0, 0)
  );
  background-clip: inherit;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.subtitle {
  text-align: center;
  font-weight: bold;
  text-shadow: 0px 0px 8px black;
  margin-inline: 16px;
}

.home-credit-box a {
  color: white;
  text-decoration: none;
}

.question-title,
.title,
.winning-title {
  font-weight: bold;
  text-align: center;
  margin: 0px;
}

.error-message {
  background-color: rgba(230, 36, 36, 0.842);
  font-size: 14px;
  text-align: left;
  margin: 0px;
  padding-inline: 5px;
  border-radius: 5px;
}

.team-title {
  font-weight: bold;
  font-size: 20px;
}

.team-title-box {
  background-color: rgb(255, 73, 73);
  text-align: center;
  border-radius: 5px;
  margin-bottom: 5px;
}

.text-muted {
  color: #b6b6b6;
  font-style: italic;
  text-align: center;
  text-shadow: 1px 1px 3px black;
}
/* ============================================================================= */

/* Tech buttons */
/* ============================================================================= */
.tech-button-box,
.tech-funny-button-box {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0;
  position: absolute;
  bottom: 0;
}
.tech-button-box {
  right: 0;
}
.tech-funny-button-box {
  left: 0;
}
/* ============================================================================= */

/* Nav buttons */
/* ============================================================================= */
.nav-button-box {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
  border-radius: 10px;
  position: absolute;
  left: 1%;
  top: 2%;
  max-width: 12%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.nav-button {
  background-image: linear-gradient(
    to right,
    #fd3333 0%,
    #f37d7d 51%,
    #fd3333 100%
  );
  padding: 6px;
  border-radius: 6px;
  border: 1px solid rgb(255, 160, 160);
  transition: 0.5s;
  background-size: 200% auto;
  box-shadow: 0 0 3px #eee;
  width: 100%;
}
.nav-button:hover {
  background-position: right center;
  text-decoration: none;
}
.nav-button:disabled {
  background-image: linear-gradient(
    rgb(255, 206, 206) 10%,
    rgb(255, 235, 235) 80%
  );
  color: rgb(145, 145, 145);
}
/* ============================================================================= */

/* Action buttons */
/* ============================================================================= */
.action-button-center {
  display: flex;
  justify-content: center;
}
.action-button {
  background-image: linear-gradient(
    to right,
    #ff2e2e 0%,
    #ffe8e8 51%,
    #35fd1b 100%
  );
  min-width: 33%;
}
.action-button:hover {
  background-position: right center;
  border: 1px solid #35fd1b;
  text-decoration: none;
}
.action-button:disabled {
  background-color: #ffe8e8;
  color: rgb(196, 196, 196);
  border: 1px solid #ffe8e8;
  background-size: 0% auto;
  box-shadow: 0 0 0px;
}

.action-button,
.select-team-button {
  color: black;
  padding: 6px;
  border-radius: 6px;
  border: 1px solid rgb(255, 139, 187);
  text-align: center;
  transition: 0.4s;
  background-size: 200% auto;
  box-shadow: 0 0 6px rgb(53, 53, 53);
}
/* ============================================================================= */

/* Boxes */
/* ============================================================================= */
.content-box {
  display: flex;
  background-color: rgba(0, 0, 0, 0.65);
  height: auto;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.content-box-item {
  display: flow-root;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 8px;
  background-color: rgba(224, 154, 1, 0.65);
}

.content-box-item li {
  margin-bottom: 5px;
}

.content-box-content {
  margin: 0px;
  padding: 3px;
  overflow: auto;
  border-radius: 5px;
  background-color: rgba(255, 208, 164, 0.315);
}
.rules .content-box-content {
  max-height: 190px;
}
#home-page .content-box-content {
  max-height: 350px;
}
#admin-page .content-box-content,
#question-list.content-box-content {
  max-height: 660px;
}
.content-box-content ul {
  padding-inline-start: 25px;
}
.title-box {
  background-color: rgba(0, 0, 0, 0.5);
}

.sound-board .tech-button {
  margin-bottom: 2px;
  width: 32.5%;
}

.theme-select-box {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.title-box,
.winning-team-box,
.winning-title-box,
.question-title-box {
  padding: 10px;
  border-radius: 10px;
  margin-top: 6px;
  margin-bottom: 6px;
}
/* ============================================================================= */

/* Images */
/* ============================================================================= */

.achievement-img {
  width: 20px;
  height: 20px;
}
/* ============================================================================= */

/* Scrollbar */
/* ============================================================================= */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: rgb(105, 105, 105);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* ============================================================================= */

/* Home page */
/* ============================================================================= */
#home-page {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.home-player-team-row {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  transition: 0.2s;
  margin-inline-start: 5%;
}

.home-player-team-row:hover {
  cursor: pointer;
  text-decoration: line-through;
  color: rgb(216, 216, 216);
}

.home-delete-btn:hover {
  background-color: rgba(129, 19, 19, 0.829);
}

.home-team-creation {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
.home-team-creation p {
  width: 10%;
  margin: 0;
}
.home-steve-img {
  width: 134px;
  height: auto;
  position: relative;
  top: 6%;
  left: 13%;
}
.home-credit-box {
  background-color: rgba(148, 79, 0, 0.65);
  border-radius: 10px;
  padding: 6px;
  text-align: center;
  width: 200px;
  height: auto;
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);
}

.team-player-select-form,
.episode-select-form,
.team-select-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.episode-select-form {
  flex-direction: column;
  gap: 10px;
}

.team-select-section {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.select-box-small,
.input-box-small {
  width: 15%;
}

.select-box-medium,
.input-box-medium {
  width: 40%;
}

.select-box-large,
.input-box-large {
  width: 85%;
}

/* ============================================================================= */

/* Admin page */
/* ============================================================================= */
.question-form {
  display: flex;
  flex-direction: column;
}

.question-form-section {
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin-bottom: 2px;
}
.reveal-question-list {
  color: white;
  cursor: pointer;
  position: relative;
  bottom: 40px;
}

.question-list-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

.question-list-title p {
  margin: 0;
}

.admin-nav-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.admin-nav-buttons-group {
  display: flex;
  flex-direction: column;
}

.admin-item-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2px;
  padding-inline: 5px;
  border-radius: 5px;
  height: 20px;
}

.admin-item-row:hover .admin-item-row-delete-btn,
.question-list-title:hover .admin-item-row-delete-btn {
  display: inline;
}

.admin-item-row-delete-btn {
  display: none;
  border-radius: 6px;
  background-color: rgba(216, 17, 17, 0.829);
  border: 1px solid darkred;
  transition: 0.2s;
}
/* ============================================================================= */

/* Info page */
/* ============================================================================= */
.info-strike,
.admin-question-checkbox {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 4px;
}
.info-strike-img {
  height: 70px;
  width: 70px;
}
.info-rules-img {
  width: 230px;
  height: auto;
  position: relative;
  top: 10px;
  left: 15px;
}
/* ============================================================================= */

/* Screen sizes  */
/* ============================================================================= */
/* Big screen */
@media (max-width: 1920px) {
  .reverse {
    background-image: url(./assets/images/ice2.png);
    position: absolute;
    background-repeat: no-repeat;
    background-size: 1156px 216px;
    width: 1156px;
    height: 200px;
    transform: translate(-28px, -38px);
  }

  .question-body {
    margin-inline-end: 3%;
  }

  .round-points-box p,
  .special-question-box p,
  .double-ptns {
    font-size: 60px;
    font-weight: bold;
    text-align: center;
  }

  .question-title-box {
    background-color: rgba(0, 0, 0, 0.5);
    width: auto;
  }

  .question-title-box-content {
    display: flex;
    height: fit-content;
    min-height: 125px;
    border: #e2e2e2 7px ridge;
    background-image: linear-gradient(#ffcb95 10%, #e99f45 40%, #b1681b 70%);
    justify-content: center;
    align-items: center;
  }

  .question-title {
    font-size: 38px;
    visibility: hidden;
    text-shadow: 2px 2px 6px black;
    z-index: 1;
  }

  .answer-box {
    background-color: rgba(0, 21, 90, 0.5);
    padding: 6px;
    border-radius: 10px;
    border: #ffb52c 8px double;
    display: flex;
    flex-direction: row;
  }

  .answer-box-item {
    display: flex;
    margin-top: 6px;
    margin-bottom: 6px;
    padding: 3px;
    height: 80px;
    border: #e2e2e2 7px ridge;
    background-image: linear-gradient(#ffcb95 10%, #e99f45 40%, #b1681b 70%);
    justify-content: space-between;
    align-items: center;
  }

  .answer-box-item p {
    font-size: 26px;
    padding-inline: 10px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0px;
    visibility: hidden;
    text-shadow: 1px 1px 6px black;
  }

  .show-title-button {
    border-radius: 150px;
    background-image: linear-gradient(#acbbff, rgb(25, 51, 167) 60%);
    height: 50px;
    width: 230px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    visibility: visible;
    position: absolute;
    display: flex;
    border: 2px rgb(218, 230, 255) solid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .show-answer-button {
    border-radius: 50%;
    background-image: linear-gradient(#acbbff, #1933a7 60%);
    padding: 5px;
    width: 78px;
    font-weight: bold;
    font-size: 30px;
    margin: 4px 1px;
    visibility: visible;
    position: absolute;
    left: 42.5%;
    border: 2px rgb(218, 230, 255) solid;
  }

  .tech-button {
    background-image: linear-gradient(#474747 0%, #7a7a7a 51%, #474747 100%);
    border-radius: 5px;
    border: none;
    display: inline-block;
    font-size: 14px;
    margin-inline: 2px;
    height: 26px;
  }

  .tech-button-box label,
  .tech-funny-button-box label {
    background-color: rgba(0, 0, 0, 0.5);
    padding-inline: 5px;
    position: absolute;
    bottom: 21px;
  }
}

/* Small screen */
@media (max-width: 1800px) {
  .reverse {
    background-size: 960px 160px;
    width: 980px;
    height: 200px;
    transform: translate(0px, 10px);
  }

  .question-body {
    max-width: 950px;
    margin-inline-start: 7%;
    margin-inline-end: 0;
    margin-top: 2%;
  }

  .round-points-box p,
  .special-question-box p,
  .double-ptns {
    font-size: 40px;
  }

  .question-title-box {
    background-color: rgba(0, 0, 0, 0.5);
    width: 97%;
    margin-inline: auto;
  }

  .question-title-box-content {
    min-height: 95px;
  }

  .question-title {
    font-size: 28px;
  }

  .show-title-button {
    height: 42px;
    width: 220px;
    font-size: 18px;
  }

  .show-answer-button {
    font-size: 26px;
  }

  .answer-box-item {
    height: 75px;
  }

  .answer-box-item p {
    font-size: 22px;
  }

  .tech-button {
    height: fit-content;
    font-size: 11px;
  }

  .tech-button-box label,
  .tech-funny-button-box label {
    font-size: 12px;
    bottom: 15px;
  }
}

/* ============================================================================= */

/* ============================================================================= */

/* Quiz page */
/* ============================================================================= */

.round-info-row {
  margin-top: 7px;
  display: grid;
  grid-template-areas: "🅱 🅿 🔠";
  grid-template-columns: 25% 50% 25%;
  justify-items: center;
}

.double-ptns {
  width: 40%;
  grid-area: 🅱;
  margin-inline-start: 90%;
}

.round-points-box {
  grid-area: 🅿;
  width: 40%;
}

.special-question-box {
  width: 40%;
  grid-area: 🔠;
  margin-inline-end: 90%;
}

.round-points-box p,
.special-question-box p,
.double-ptns {
  font-size: 60px;
  font-weight: bold;
  text-align: center;
}

.strikes-box-team1 {
  position: absolute;
  left: 1%;
  top: 1%;
}

.strikes-box-team2 {
  position: absolute;
  right: 1%;
  top: 1%;
}

.strike-img {
  width: 100px;
  height: 100px;
}

.big-strike {
  position: absolute;
  top: 50%;
  left: 50.5%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.big-strike-image {
  width: 700px;
  height: 700px;
  transition: 2s;
  animation: ease-in;
}

.disabled-ptns {
  position: absolute;
  top: 16px;
  font-size: 30px;
}

.answer-box-content {
  margin: 0px;
  display: flex;
  flex-direction: column;
}

.points-box {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 6px;
  border-radius: 6px;
}

.team-1 {
  position: absolute;
  left: 5px;
  top: 40%;
}

.team-2 {
  position: absolute;
  right: 5px;
  top: 40%;
}

.team-1-box,
.team-2-box {
  max-width: 250px;
}

.team-points {
  margin-inline: auto;
  margin-bottom: 8px;
  width: 90%;
  min-width: fit-content;
}

.team-points p,
.team-box-title {
  font-weight: bold;
  margin: 0px;
  text-align: center;
}

.team-points p {
  font-size: 60px;
}

.team-box-title {
  font-size: 26px;
  padding-inline: 10px;
}
.teams-box-content {
  padding: 3px;
  overflow: auto;
  max-height: 300px;
  border-radius: 3px;
  background: linear-gradient(
    90deg,
    rgb(9, 114, 0) 0%,
    rgb(42, 194, 3) 33%,
    rgb(42, 194, 3) 66%,
    rgb(9, 114, 0) 100%
  );
  border: #cccccc 2px ridge;
}
.teams-box-content-right {
  padding: 3px;
  overflow: auto;
  max-height: 300px;
  border-radius: 3px;
  background: linear-gradient(
    90deg,
    rgb(176, 0, 0) 0%,
    rgb(255, 72, 72) 33%,
    rgb(255, 72, 72) 66%,
    rgb(176, 0, 0) 100%
  );
  border: #cccccc 2px ridge;
}

.teams-box-content p,
.teams-box-content-right p {
  font-weight: bold;
  font-size: 18px;
  margin: 2px;
  text-shadow: 1px 1px 6px black;
}

.select-team-box {
  margin-inline: auto;
  width: 40%;
  visibility: visible;
  text-align: center;
  margin-top: 30px;
}

.select-team-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.select-team-button {
  background-image: linear-gradient(#ff9daa 0%, #ffe8ed 51%, #ff9daa 100%);
  min-width: 80px;
  max-width: 210px;
  margin-inline: 4px;
  font-weight: bold;
}
.select-team-button:hover {
  background-image: linear-gradient(#fd788a 0%, #ffd6df 51%, #fd788a 100%);
}

.select-team-box p {
  font-size: 26px;
  font-weight: bold;
  margin: 2px;
  text-align: center;
}

.select-team-box,
.team-points,
.team-1-box,
.team-2-box,
.round-points-box,
.special-question-box,
.double-ptns {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 6px;
  border-radius: 6px;
  border: 4px ridge;
  border-color: #cccccc;
}

.active .team-points,
.active .team-1-box,
.active .team-2-box {
  border-color: #ffbb00;
  background-color: rgb(157 128 0 / 50%);
}

/* ============================================================================= */

/* Winner page */
/* ============================================================================= */
.winning-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.winning-team-box,
.winning-title-box {
  background-color: rgba(0, 0, 0, 0.5);

  margin-inline: auto;

  width: fit-content;
}

.winning-team-box {
  min-width: 75%;
}

.winning-box-item {
  border-radius: 10px;
  padding: 8px;
  background-color: rgba(0, 217, 255, 0.65);
}

.winning-title {
  font-size: 78px;
  background: -webkit-linear-gradient(
    rgb(255, 136, 0),
    rgb(252, 234, 206),
    rgb(255, 136, 0)
  );
  background-clip: inherit;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.winning-points {
  text-decoration: underline;
}
.winning-playername,
.winning-points {
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  margin: 0px;
}

.steve-gif {
  width: 200px;
  height: auto;
  position: absolute;
  z-index: -1;
  transform: translate(10%, 30%);
}

.confetti-gif {
  width: 100%;
  height: 99%;
  position: absolute;
  left: 0;
  z-index: -1;
  background-image: url("./assets/gifs/confetti.gif");
}

/* ============================================================================= */

/* Hall of Fame */
/* ============================================================================= */
.hff-page th,
.hff-page td {
  font-weight: bold;
}

.hff-page th {
  font-size: 20px;
}

.hff-page th.one {
  width: 5%;
}

.hff-page th.two {
  width: 30%;
}

.hff-page th.three {
  width: 65%;
}

.hff-page td {
  font-size: 16px;
}

.hff-gold,
.hff-silver,
.hff-bronze {
  border-radius: 5px;
  color: black;
}

.hff-gold {
  background-image: linear-gradient(
    0deg,
    rgba(255, 188, 2, 1) 0%,
    rgba(255, 219, 118, 1) 50%,
    rgba(255, 251, 239, 1) 100%
  );
}

.hff-silver {
  background-image: linear-gradient(
    0deg,
    rgba(103, 103, 103, 1) 0%,
    rgba(187, 187, 187, 1) 50%,
    rgba(255, 255, 255, 1) 100%
  );
}

.hff-bronze {
  background-image: linear-gradient(
    0deg,
    rgba(185, 80, 0, 1) 0%,
    rgba(196, 142, 100, 1) 50%,
    rgba(255, 231, 213, 1) 100%
  );
}

/* ============================================================================= */

/* Timer */
/* ============================================================================= */
.timer-box {
  border-radius: 6px;
  margin-inline: auto;
  text-align: center;
  margin-top: 10px;
  height: 130px;
  border: #e2e2e2 7px ridge;
  background-image: linear-gradient(#a2dbff 10%, #4dbaec 40%, #2480b9 70%);
  width: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.timer-box p {
  font-size: 80px;
  font-weight: bold;
  margin: 0px;
}
/* ============================================================================= */

/* Snowfall */
/* ============================================================================= */
.snowflake {
  font-size: 1em;
  font-family: Arial;
  text-shadow: 0 0 8px #05c4fd;
}

@-webkit-keyframes snowflakes-fall {
  0% {
    top: -10%;
  }
  100% {
    top: 100%;
  }
}
@-webkit-keyframes snowflakes-shake {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(80px);
    transform: translateX(80px);
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}
@keyframes snowflakes-fall {
  0% {
    top: -10%;
  }
  100% {
    top: 100%;
  }
}
@keyframes snowflakes-shake {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(80px);
  }
  100% {
    transform: translateX(0px);
  }
}
.snowflake {
  position: fixed;
  top: -10%;
  z-index: 9999;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  -webkit-animation-name: snowflakes-fall, snowflakes-shake;
  -webkit-animation-duration: 10s, 3s;
  -webkit-animation-timing-function: linear, ease-in-out;
  -webkit-animation-iteration-count: infinite, infinite;
  -webkit-animation-play-state: running, running;
  animation-name: snowflakes-fall, snowflakes-shake;
  animation-duration: 10s, 3s;
  animation-timing-function: linear, ease-in-out;
  animation-iteration-count: infinite, infinite;
  animation-play-state: running, running;
}
.snowflake:nth-of-type(0) {
  left: 1%;
  -webkit-animation-delay: 0s, 0s;
  animation-delay: 0s, 0s;
}
.snowflake:nth-of-type(1) {
  left: 10%;
  -webkit-animation-delay: 1s, 1s;
  animation-delay: 1s, 1s;
}
.snowflake:nth-of-type(2) {
  left: 20%;
  -webkit-animation-delay: 6s, 0.5s;
  animation-delay: 6s, 0.5s;
}
.snowflake:nth-of-type(3) {
  left: 30%;
  -webkit-animation-delay: 4s, 2s;
  animation-delay: 4s, 2s;
}
.snowflake:nth-of-type(4) {
  left: 40%;
  -webkit-animation-delay: 2s, 2s;
  animation-delay: 2s, 2s;
}
.snowflake:nth-of-type(5) {
  left: 50%;
  -webkit-animation-delay: 8s, 3s;
  animation-delay: 8s, 3s;
}
.snowflake:nth-of-type(6) {
  left: 60%;
  -webkit-animation-delay: 6s, 2s;
  animation-delay: 6s, 2s;
}
.snowflake:nth-of-type(7) {
  left: 70%;
  -webkit-animation-delay: 2.5s, 1s;
  animation-delay: 2.5s, 1s;
}
.snowflake:nth-of-type(8) {
  left: 80%;
  -webkit-animation-delay: 1s, 0s;
  animation-delay: 1s, 0s;
}
.snowflake:nth-of-type(9) {
  left: 90%;
  -webkit-animation-delay: 3s, 1.5s;
  animation-delay: 3s, 1.5s;
}
/* ============================================================================= */

/* Episode 2 */

/* .title {
  background: -webkit-linear-gradient(
    rgb(255, 136, 0),
    rgb(252, 234, 206),
    rgb(255, 136, 0)
  );
} */
.content-box-item {
  background-color: rgba(0, 217, 255, 0.65);
}
.content-box-content {
  background-color: rgba(164, 241, 255, 0.315);
}
.home-credit-box {
  background-color: rgba(0, 131, 148, 0.65);
}
.action-button {
  background-image: linear-gradient(
    to right,
    #ff9daa 0%,
    #ffe8ed 51%,
    #ff9daa 100%
  );
  color: black;
}
.action-button:disabled {
  background-color: rgb(255, 228, 232);
  color: rgb(196, 196, 196);
  border: 1px solid rgb(255, 196, 226);
}
.nav-button {
  background-image: linear-gradient(
    to right,
    #5387a7 0%,
    #4dbaec 51%,
    #5387a7 100%
  );
}
.nav-button:disabled {
  background-image: linear-gradient(
    rgb(218, 230, 255) 10%,
    rgb(253, 253, 255) 80%
  );
  color: rgb(145, 145, 145);
}
.question-title-box-content {
  background-image: linear-gradient(#a2dbff 10%, #4dbaec 40%, #2480b9 70%);
}
.answer-box-item {
  background-image: linear-gradient(#a2dbff 10%, #4dbaec 40%, #2480b9 70%);
}
.teams-box-content {
  background: linear-gradient(
    90deg,
    rgba(0, 125, 176, 1) 0%,
    rgba(48, 195, 255, 1) 33%,
    rgba(48, 195, 255, 1) 66%,
    rgba(0, 125, 176, 1) 100%
  );
}
.select-team-button {
  background-image: linear-gradient(#ff9daa 0%, #ffe8ed 51%, #ff9daa 100%);
  color: black;
  border: 1px solid rgb(255, 139, 187);
}
/* ============================================================================= */

/* Episode 4 */

.title {
  font-size: 38px;
  background: -webkit-linear-gradient(
    rgb(0, 225, 255),
    rgb(170, 255, 159),
    rgb(0, 225, 255)
  );
  background-clip: inherit;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
